*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    color: #3a3e3f;
}

ul,
ol {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #e7e7e7 url("img/body-bg.jpg");
    font-family: "pt Sans", sans-serif;
    font-size: 13px;
    line-height: 1.3;
}

.header {
    background-image: url("img/header-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 91px;
    border-bottom: 5px solid #b7b7b6;
    height: 91px;
}

.header__content {
    background: url("img/header-top-bg.jpg");
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    align-items: baseline;
}

.header__logo {
    color: #fef5f3;
}

.logo__title {
    padding-left: 30px;
    padding-right: 72px;
    background: #f26c4f;
}

.logo__plus {
    color: #f5937e;
}

.header__nav {
    display: flex;
    justify-content: flex-start;
}

.header__nav-item {
    padding-left: 20px;
}

.header__nav-link {
    color: #ffffff;
}

.article__list-item {
    margin-top: 23px;
    margin-bottom: 30px;
}

.article__img {
    background: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 6px;
    position: relative;
    margin-bottom: 8px;
}

.socials {
    display: flex;
}

.socials__item {
    margin-left: 10px;
}

.socials--vertical {
    flex-direction: column;
}

.article__socials {
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.article__content {
    background: #ffffff url("img/bg-main-content.jpg") repeat-x;
    max-width: 980px;
    border: 1px solid #d7d7d7;
    padding: 35px;
    position: relative;
}

.article__content::before {
    background: url("img/trigon.png") no-repeat;
    content: "";
    width: 33px;
    height: 17px;
    position: absolute;
    top: -16px;
    left: 77px;
}

.article__time {
    font-size: 12px;
    color: #b9b9b9;
    margin-bottom: 20px;
}

.article__text {
    font-size: 15px;
    color: #f3765b;
    margin-bottom: 20px;
}

.article__post {
    font-size: 15px;
    color: #959595;
    margin-bottom: 15px;
    line-height: 2;
}


.article__link {
    font-size: 30px;
    color: #3a3e3f;
    margin-bottom: 10px;
}

.article__link:hover {
    text-decoration: underline;
    color: #f26c4f;
}

.article__item2 {
    margin-bottom: 30px;
}

.article__item3 {
    margin-bottom: 30px;
}

.pagination {
    display: flex;
}

.main__pagination {
    margin: 35px 0 35px 15px;
}

.pagination__item {
    margin-right: 10px;
}

.pagination__link--disabled {
    background: #f26c4f;
    color: #fff;
}

.pagination__link {
    color: #3a3e3f;
}

.sidebar {
    margin: 0 15px;
}

.sidebar__widgets {
    background: #ffffff url("img/bg-main-content.jpg");
    margin: 23px 0;
}

.widgets {
    border: 1px solid #d9d9d9;
}

.title {
    color: #2e2d2d;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.text--grey {
    font-size: 15px;
    color: #828282;
}

.text--grey--sm {
    font-size: 12px;
    color: #828282;
}

.text--dark {
    font-size: 13px;
    color: #3a3a3a;
}

.text--img {
    background: url("img/widget-a1.jpg") left center no-repeat;
}

.widgets__BlogCategories {
    padding: 15px 30px 15px 30px;
}

.BlogCategories__item {
    padding-left: 30px;
}

.BlogCategories__link {
    color: #828282;
}

.BlogCategories__link:hover {
    text-decoration: underline;
    color: #f26c4f;
}

.widgets__archives {
    padding: 15px 30px 17px 30px;
}

.archives__item {
    padding-left: 30px;
}

.archives__link {
    color: #828282;
}

.archives__link:hover {
    text-decoration: underline;
    color: #f26c4f;
}

.widget__resentPosts {
    padding: 15px 30px 17px 30px;
}

.resentPost__title {
    padding-top: 15px;
    padding-bottom: 5px;
}

.resentPost__link {
    background: url("img/arrow-siteBar.jpg") left 4px no-repeat;
    padding-left: 10px;
    color: #3a3a3a;
}

.resentPost__link:hover {
    text-decoration: underline;
    color: #f26c4f;
}

.sidebar__banner {

}

.sidebar__banner img {
    margin: 25px auto;
}

.banner__img {
    border: 1px solid #d7d7d7;
}

.footer {
    background: #343434;
}

.footer__content {
    font-size: 12px;
    color: #ffffff;
    padding: 30px 30px;
    line-height: 1.7;
    display: flex;
}

.footer__left {
    text-align: left;
}

.footer__text {
    margin-bottom: 20px;
}

.footer__copy {
    color: rgba(255, 255, 255, 0.5);
}

.footer__right {
    display: flex;
}

.footer__socials {
    align-items: center;
}

.link__social {
    margin-right: 10px;
}

@media only screen and (min-width: 769px) {
    .main__inner {
        display: flex;
    }

    .main__content {
        width: 64.28%;
    }

    .main__sidebar {
        width: 34%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .header__top {
        flex-direction: column;
    }

    .header__nav {
        margin: 5px 0 3px 0;
    }

    .logo__title {
        margin: 0 auto;
        text-align: center;
        padding: 0 5px;
    }

    .main__content {
        margin: 0 15px;
    }

    .article__img img {
        width: 100%;
    }

    .footer__content {
        flex-direction: column;
        margin: 0 15px;
    }

    .footer__left {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer__right {
        width: 100%;
    }

    .footer__socials {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 241px) and (max-width: 480px) {
    .header__top {
        flex-direction: column;
    }

    .logo__title {
        margin: 0 auto;
        text-align: center;
        padding: 0 5px;
    }

    .header__nav {
        margin: 5px 0 3px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .article__content {
        padding: 20px;
    }

    .sidebar {
        margin: 0;
    }

    .widgets__BlogCategories {
        padding: 20px;
    }

    .widgets__archives {
        padding: 20px;
    }

    .widget__resentPosts {
        padding: 20px;
    }

    .article__img {
        position: relative;
    }

    .article__socials {
        flex-direction: row;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .article__socials img {
        width: 70%;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__left {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .footer__socials {
        margin: 0 auto;
    }

    .footer__socials img {
        width: 70%;
    }
}

@media only screen and (max-width: 240px) {
    .header__top {
        flex-direction: column;
    }

    .header__logo {
        font-size: 16px;
    }


    .logo__title {
        margin: 0 auto;
        text-align: center;
        padding: 0 5px;
    }

    .header__nav {
        margin: 5px 0 3px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .article__content {
        padding: 5px;
    }

    .sidebar {
        margin: 0;
    }

    .widgets__BlogCategories {
        padding: 5px;
    }

    .widgets__archives {
        padding: 5px;
    }

    .widget__resentPosts {
        padding: 5px;
    }

    .article__img {
        position: relative;
    }

    .article__socials {
        flex-direction: row;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .article__socials img {
        width: 70%;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__left {
        margin-bottom: 20px;
    }

    .footer__socials {
        margin: 0 auto;
    }

    .footer__socials img {
        width: 70%;
    }
}























